@import '../variables';

.search-from {
  &__filter {
    overflow-x: hidden;
  }

  &__filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px 0;
  }

  &__filter-item {
    flex-shrink: 0;
    color: $primary-text-color;
    font-size: 16px;
    padding: 5px 15px;
    background-color: $white-color;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease;

    &_active {
      color: $primary-color;
    }
  }
}
