@import '../variables';
@import 'select';

.search {
  padding: 0 15px 15px;
  background-color: $white-color;
  border-radius: 6px;

  &__location,
  &__calendar,
  &__guests {
    position: relative;
    color: $primary-text-color;
    padding: 25px 25px 20px 10px;
  }

  &__field {
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 2px solid $divider;
    }
  }

  &__field-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &__button {
    width: 100%;
    border: none;
    border-radius: 50px;
    color: $white-color;
    background: $primary-gradient;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 5px;
    cursor: pointer;

    &:hover {
      border: 2px solid $primary-color;
      padding: 18px 5px;
      background: transparent;
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .search {
    display: flex;
    font-size: 18px;
    padding: 12px;
    border-radius: 50px;

    &__fields {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
    }

    &__field {
      width: 33.3%;
      padding: 0 30px;
      border-bottom: none;

      &:not(:last-child) {
        border-bottom: 0;
        border-right: 2px solid $divider;
      }
    }

    &__location,
    &__calendar,
    &__guests {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 18px 15px 18px 10px;
    }

    &__location {
      padding: 18px 10px;
    }

    &__button {
      max-width: 130px;
      flex: 1 1;
      font-size: inherit;
    }
  }
}
