@import '../variables';
@import '../components/menu';
@import '../components/logo';
@import '../components/weather';
@import '../components/auth';
@import '../components/search-form';
@import '../components/search';

.header {
  background-color: $primary-color;

  &__inner {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }

  &__weather {
    display: none;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__main-section {
    padding-bottom: 25px;
  }
}

.background-container {
  background-image: url('assets/images/header/main-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .header {

    &__weather {
      display: flex;
    }

    &__main-section {
      padding-bottom: 50px;
    }
  }
}

@media screen and (min-width: 700px) {
  .header {

    &__title {
      line-height: 70px;
      font-size: 56px;
      max-width: 390px;
      margin-top: 130px;
      margin-bottom: 45px;
    }

    &__main-section {
      padding-bottom: 205px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {

    &__title {
      max-width: 410px;
      margin-bottom: 110px;
      line-height: 65px;
    }
  }
}

