@import '../variables';

.how-it-works {
  background: $how-it-works-background;
  padding: 37px 0 17px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__card {
    position: relative;
    width: 100%;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    padding: 45px 25px 25px;
    color: $primary-text-color;
    background-color: $white-color;
    box-shadow: 0 12px 48px 0 rgb(0 0 0 / 6%);
    border-radius: 6px;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 35px;
      padding: 7px 0 0 12px;
      font-weight: 700;
      font-size: 18px;
      color: $white-color;
      border-radius: 6px 0 50px 0;
      background: linear-gradient(135deg, #2db9fe 0%, #4edbfc 100%);
      box-shadow: 0 8px 20px 0 rgb(30 182 255 / 24%);
    }
  }

  &__first-card:before {
    content: '1';
  }

  &__second-card:before {
    content: '2';
  }

  &__third-card:before {
    content: '3';
  }

  &__second-card button,
  &__third-card button{
    background: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover {
      color: $white-color;
      background: $primary-gradient;
      border: none;
      padding: 18px 24px;
    }
  }

  &__card-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__card-description {
    flex-grow: 1;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 480px) {
  .how-it-works {
    &__card {
      min-height: 250px;
    }
  }
}

@media screen and (min-width: 768px) {
  .how-it-works {
    padding: 42px 0 28px;

    &__card {
      padding: 50px 40px 40px;
      flex-direction: row;
      align-items: flex-start;
      gap: 30px;
      min-height: 190px;
    }

    &__card-title {
      max-width: 170px;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    &__card-button {
      min-width: 155px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .how-it-works {
    padding: 46px 0 50px;

    &__list {
      flex-direction: row;
    }

    &__card {
      padding: 70px 40px 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      min-height: 440px;
    }

    &__card-title {
      font-size: 48px;
      line-height: 54px;
      max-width: none;
    }

    &__card-button {
      min-width: initial;
    }
  }
}
