/* gilroy bold */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/gilroy/Gilroy-Bold.woff2) format('woff2');
}

/* gilroy semibold */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/gilroy/Gilroy-Semibold.woff2) format('woff2');
}

/* gilroy regular */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/gilroy/Gilroy-Regular.woff2) format('woff2');
}

/* gilroy light */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/fonts/gilroy/Gilroy-Light.woff2) format('woff2');
}

/* gilroy ultralight */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(assets/fonts/gilroy/Gilroy-UltraLight.woff2) format('woff2');
}
