@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: Gilroy, 'sans-serif';
  font-size: 16px;
  color: $white-color;
  min-width: 320px;
  overflow-x: hidden;

  &._lock {
    overflow: hidden;
  }
}

.background-container {
  max-width: 1360px;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: $primary-text-color;
  margin-bottom: 15px;

  & span {
    color: $primary-color;
  }
}

.container,
.header-container {
  padding: 0 24px;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: $primary-text-color;
  margin-bottom: 15px;

  & span {
    color: $primary-color;
  }
}

.scrollToTopButton {
  visibility: hidden;
  cursor: pointer;
  padding: 0;
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 100;
  border: none;
  background: $primary-gradient;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease;

  & svg {
    width: 8px;
    height: 12px;
    fill: $white-color;
    stroke: $white-color;
    transform: rotate(-90deg);
  }

  &:hover {
    box-shadow: $button-shadow;
    transform: scale(1.1);
  }

  &_active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .container,
  .header-container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1210px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1360px;
  }
}
