@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: Gilroy, 'sans-serif';
  font-size: 16px;
  color: $white-color;
  min-width: 320px;
  overflow-x: hidden;

  &._lock {
    overflow: hidden;
  }
}

.background-container {
  max-width: 1360px;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: $primary-text-color;
  margin-bottom: 15px;

  & span {
    color: $primary-color;
  }
}

.container,
.header-container {
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .container,
  .header-container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1210px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1360px;
  }
}
